<!-- app/views/shared/_header.html.erb -->
  <header class="bg-amber-500 shadow px-14 py-4">
    <div class="max-w-7xl mx-auto flex items-center justify-between">
      <h1 class="text-2xl font-bold text-black">
        nanitabeta?
      </h1>
      <div class="space-x4">
        <% if user_signed_in? %>
          <%= link_to "記録する", "#", class: "bg-amber-500 text-white font-normal py-2 px-4 rounded hover:bg-orange-300 transition" %>
          <%= link_to "ログアウト", "#", class: "bg-amber-500 text-white font-normal py-2 px-4 rounded hover:bg-orange-300 transition" %>
        <% else %>
          <%= link_to "会員登録", "#", class: "bg-amber-500 text-white font-normal py-2 px-4 border border-white-400 rounded hover:bg-orange-300 transition" %>
          <%= link_to "ログイン", "#", class: "bg-amber-500 text-white font-normal py-2 px-4 border border-white-400 rounded hover:bg-orange-300 transition" %>
        <% end %>
      </div>
    </div>
  </header>
