<!-- app/views/shared/_header.html.erb -->
<header>
  <p>test</p>
  <% if user_signed_in? %>
    <%= link_to "記録する", "#" %>
    <%= link_to "ログアウト", "#" %>
  <% else %>
    <%= link_to "会員登録", "#" %>
    <%= link_to "ログイン", "#" %>
  <% end %>
</header>