<section class="bg-gray-50 py-16 text-center">
  <div class="max-w-5xl mx-auto px-4">
  <p class="text-3xl text-orange-900 mb-6">記録を振り返り、これまでとは違うメニューにチャレンジしてみよう</p>
    <h3 class="text-2xl font-semibold text-center mb-8">💡こんなときに使える</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 text-center">
      <div>
        <div class="text-blue-500 text-4xl mb-2"></div>
        <h3 class="font-bold text-lg mb-2">食べたものを振り返りたい</h3>
        <p class="text-gray-600">あれ、前にもこれ食べたな</p>
      </div>
      <div>
        <div class="text-green-500 text-4xl mb-2"></div>
        <h3 class="font-bold text-lg mb-2">次回食べたいものを記録しておきたい</h3>
        <p class="text-gray-600 text-lg mb-2">今回の定食は美味しかったから次は違うのものも試してみよう</p>
      </div>
    </div>
  </div>
</section>