<section class="bg-slate-100 py-20 text-left">
  <div class="max-w-3xl mx-auto px-4">
    <h1 class="text-4xl font-bold mb-4">前回ナニを注文したか覚えてる?</h1>
    <p class="text-2xl text-gray-600 mb-6">飲食店でのメニュー選びをサポートする記録アプリ</p>
    <%= link_to "試してみる", "#", class: "bg-amber-500 text-white text-xl font-normal py-3 px-5 border border-white-400 rounded hover:bg-orange-300 transition" %>
  </div>
</section>