<div class="w-full max-w-lg mx-auto">
  <h2 class="text-3xl font-bold mb-6 text-left"><%= t("メニュー編集") %></h2>
    <%= render 'form', order: @order %>
  <div class="underline py-2">
    <%= link_to t('一覧に戻る'), orders_path %>
  </div>
</div>