<h2 class="text-2xl font-bold mb-6 text-center">注文履歴</h2>

<div data-controller="tabs">
  <!-- タブボタン -->
  <div class="px-4 sm:px-6 lg:px-8 max-w-7xl mx-auto py-4">
    <div class="grid grid-cols-3">
      <% [["all", "すべて"], ["ordered", "注文した"], ["wanted", "気になった"]].each do |key, label| %>
        <button data-action="click->tabs#change"
                data-tabs-target="tab"
                data-tab="<%= key %>"
                class="tab-button text-gray-500 text-lg border border-gray-300 rounded-sm">
          <%= label %>
        </button>
      <% end %>
    </div>
  </div>

  <!-- 一覧描画部分 -->

  <turbo-frame id="order-list">
    <%= render partial: "orders/list", locals: { orders: @orders } %>
  </turbo-frame>
</div>
  <div class="mt-4">
    <%= paginate @orders, params: { tab: params[:tab] } %>
  </div>